/** --------------------------- BASIC ELEMENT ---------------------------- **/


/** Preset --------------------------------------------------------------- **/

*{
	margin : 0;
	padding : 0;
}

a{
	text-decoration: none;
	color: #E5FEF1;
}a:link{
	color: #E5FEF1;
}a:hover{
	color: #E5FEF1;
	opacity: 0.6;
}a:focus{
	color: #E5FEF1;
}a:active{
	color: #E5FEF1;
}a:visited{
	color: #E5FEF1;
}

div>img:hover{
	opacity: 0.6;
}

h1{
	padding-top: 2.8em;
	padding-bottom: 3em;
}h2{
	padding-top: 1em;
	padding-bottom: 1.6em;
}h3{
	padding-top: 1.4em;	
	padding-bottom: 1.4em;
}


/** Structure ------------------------------------------------------------ **/


body{
	font-family: "Roboto", sans-serif;
	overflow: auto;
}

header{
	background-color: #999999;

	width: 100%;
	position: fixed;

	/* Shadow */
	-moz-box-shadow: 0px 2px 25px #555;
	-webkit-box-shadow: 0px 2px 25px #555;
	-o-box-shadow: 0px 2px 25px #555;
	box-shadow: 0px 2px 25px #555;

	border-bottom: 1px solid #555;
}

section{
	/* Shadow */
	-moz-box-shadow: inset 0px 4px 25px 0px #555;
	-webkit-box-shadow: inset 0px 4px 25px 0px #555;
	-o-box-shadow: inset 0px 4px 25px 0px #555;
	box-shadow: inset 0px 4px 25px 0px #555;

	border-top: 1px solid #666;
}

footer{
	background-color: #999999;

	/* Shadow */
	-moz-box-shadow: 0px -1px 8px #555;
	-webkit-box-shadow: 0px -1px 8px #555;
	-o-box-shadow: 0px -1px 8px #555;
	box-shadow: 0px -1px 8px #555;

	border-top: 1px solid #555;
}


/** ------------------------------- ID ----------------------------------- **/


#mobileMenu{  /* Centering boutons - menu mobile */
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
#mobileMenu nav ul li{
	list-style-type:none;
}

#desktopMenu nav a{  /* Spacing buttons - desktop menu */
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#home div:first-child{
	padding-top: 4%;
}


/** ------------------------------ CLASS --------------------------------- **/


/** Style ---------------------------------------------------------------- **/

.lightBg{  
	background: #E5FFF1;
}
.lightText{
	color: #E5FFF1;
}

.darkBg{  
	background: #00e676;
}
.darkText{
	/*color: #014921;*/
	color: #00C853;
}

.imgBg{  
	background-image: url("img/fond.PNG");
}
.imgBg1{
	background-image: url("img/fond1.PNG");
}


/** Position ------------------------------------------------------------- **/

.container{  /* Horizontal alignement - text */
	text-align: center;
}
.content{
	padding-top: 4%;
}
.centerBlock{  /* Horizontal alignement - block */
	margin-left: auto;
	margin-right: auto;
}
.verticalAlignText{  /* Vertical alignment  - text */
	height: 2.5em;
	line-height: 2.5em;
}


.inline3{  /* 3 elements on a line */
	width: 33%;

	display: inline-block;
	vertical-align: top;
}
.inline2{  /* 2 elements on a line */
	width: 49.5%;

	display: inline-block;
	vertical-align: top;
}


.circle{
	width: 13em;
	height: 13em;
	margin-top: 0.5em;

	/* Circle */
    -webkit-border-radius: 50% / 50%;
    -moz-border-radius:    50% / 50%;
    -o-border-radius:      50% / 50%;
    border-radius:         50% / 50%;

    /* Shadow */
    -moz-box-shadow: 0px 10px 25px #555;
    -webkit-box-shadow: 0px 10px 25px #555;
    -o-box-shadow: 0px 10px 25px #555;
    box-shadow: 0px 10px 25px #555;
}
.bigDiv{
	width: 16em;
	height: 16em;
	margin-top: 1em;
}

.arrow{
	padding-top: 1.5em;
}


/** --------------------------------- FORM ------------------------------- **/


.form {
    margin-left:auto;
    margin-right:auto;
    margin-top:1.5em;
    max-width: 500px;
}.form label {
    display: block;
    margin: 0px 0px 5px;
}.form input[type="text"], .form input[type="email"], 
  .form textarea, .form select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    border: 1px solid #00e676;
    background: #E5FFF1;
    font-family: "Roboto", sans-serif;
}.form textarea{
    height:100px;
    padding-top: 10px;
}.form .button {
    background-color: #00e676;

    width: 8em;
	height: 8em;

    border: none;    

	/* Circle */
    -webkit-border-radius: 50% / 50%;
    -moz-border-radius:    50% / 50%;
    -o-border-radius:      50% / 50%;
    border-radius:         50% / 50%;

    /* Shadow */
    -moz-box-shadow: 0px 10px 25px #555;
    -webkit-box-shadow: 0px 10px 25px #555;
    -o-box-shadow: 0px 10px 25px #555;
    box-shadow: 0px 10px 25px #555;

    font-family: "Roboto", sans-serif;
}.form .button:hover {
    opacity: 0.6;
}

/** -------------------------------- MOBILE ------------------------------ **/

@media screen and (max-width: 1000px){
.inline3{
	width: 100%;
}
.inline2{
	width: 100%;
}
}