/** --------------------------- MEDIA QUERIES ---------------------------- **/


/** Height control ------------------------------------------------------- **/

@media screen and (min-height: 961px){
.container{
	min-height: 760px;
}}
@media screen and (max-height: 961px){
.container{
	min-height: 760px;
}}
@media screen and (max-height: 769px){
.container{
	min-height: 569px;
}}
@media screen and (max-height: 481px){
.container{
	min-height: 271px;
}}

/** Width control -------------------------------------------------------- **/

@media screen and (max-width: 1250px){
.container{
	max-width: 960px;
}}
@media screen and (max-width: 961px){
.container{
	max-width: 720px;
}}
@media screen and (max-width: 769px){
.container{
	max-width: 560px;
}}
@media screen and (max-width: 481px){
.container{
	max-width: 360px;
}}


/** Change menu - mobile | desktop --------------------------------------- **/

@media screen and (max-width: 768px){
#desktopMenu{
	display: none;
}
#mobileMenu nav{
	display: none;
}
#desktopFooter{
	display: none;
}}
@media screen and (min-width: 769px){
#mobileMenu{
	display: none;
}
#mobileFooter{
	display: none;
}}


/** ------------------------------- FONT --------------------------------- **/


@font-face{
	font-family: "Roboto";
	font-style: normal;
	src : url('font/Roboto-Bold.ttf');}
@font-face{
	font-family: "Roboto";
	font-style: italic;
	src : url('font/Roboto-Italic.ttf');
}