/** --------------------------- MEDIA QUERIES ---------------------------- **/


/** Height control ------------------------------------------------------- **/

@media screen and (max-height: 1200px){
section{
	min-height: 1135px;
}
.content{
	min-height: 900px;
}}
@media screen and (max-height: 999px){
section{
	min-height: 934px;
}
.content{
	min-height: 699px;
}}
@media screen and (max-height: 720px){
section{
	min-height: 655px;
}
.content{
	min-height: 420px;
}}
@media screen and (max-height: 570px){
section{
	min-height: 505px;
}
.content{
	min-height: 270px;
}}
@media screen and (max-height: 480px){
section{
	min-height: 415px;
}
.content{
	min-height: 180px;
}}


/** Width control -------------------------------------------------------- **/

@media screen and (max-width: 1200px){
.container{
	max-width: 700px;
}}
@media screen and (max-width: 992px){
.container{
	max-width: 492px;
}}
@media screen and (max-width: 768px){
.container{
	max-width: 450px;
}}
@media screen and (max-width: 480px){
.container{
	max-width: 350px;
}}


/** Change menu - mobile | desktop --------------------------------------- **/

@media screen and (max-width: 999px){
#desktopMenu{
	display: none;
}
#mobileMenu nav{
	display: none;
}}
@media screen and (min-width: 1000px){
#mobileMenu{
	display: none;
}}


/** ------------------------------- FONT --------------------------------- **/


@font-face{
	font-family: "Roboto";
	font-style: normal;
	src : url('font/Roboto-Bold.ttf');}
@font-face{
	font-family: "Roboto";
	font-style: italic;
	src : url('font/Roboto-Italic.ttf');
}